:root {
    --dark-color: #2a2626;
    --white-color: #fff;
    --primary-color: #fe8a02;
    --medium-dark-color: #42413c;
    --secondary-color: #908d8b;
    --light-color: #f5f4f0;
    --light-dark-color: #b09a81;
    --blue-color: #1085c5;
    --body-copy-font: 'Open Sans', sans-serif;
    --titles-font: 'Neucha', cursive;
    --drop-shadow: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

@media (min-width: 720px) {
    html {
        font-size: 1.1rem;
    }
}

body {
    margin: 0;
    overflow-x: hidden;

    color: var(--dark-color);
    font-weight: normal;
    font-family: var(--body-copy-font);
    font-style: normal;
    line-height: 1.6;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;

    background-color: var(--light-color);
    opacity: 0.95;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Common layout structure elements */

.center-container {
    position: relative;

    max-width: 1110px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

@media (max-width: 720px) {
    .row {
        display: block;
    }
}

.col {
    flex: 1 1 0;
    padding: 0 15px;
}

.columns {
    columns: 2 200px;
    column-gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Background elements */

.bg-img {
    position: relative;
}

.bg-img::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.1;

    content: "";
}

@media screen and (min-width: 1024px) {
    .bg-img::before {
        background-attachment: fixed;
    }
}

/* Menu elements */

.menu-wrapper {
    box-shadow: 0 2px 2px -1px rgb(0, 0, 0, 0.2);    
}

@media (max-width: 992px) {
    .menu-wrapper {
        height: 60px;
    }
}

.menu {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    list-style: none;
}

@media (max-width: 992px) {
    .menu {
        position: absolute;
        right: 0;
    
        display: block;
        height: 100vh;
        padding-top: 80px;
    
        background-color: var(--light-color);
    
        box-shadow: -2px 0 2px -1px rgb(0, 0, 0, 0.2);
        transform: translate(102%, 0);

        transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

.menu-item {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;

    color: var(--dark-color);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 992px) {
    .menu-item {
        padding: 0.8rem 2rem;
    }
}

.menu-item:hover {
    color: var(--white-color);

    background-color: var(--primary-color);
}

.dropdown {
    position: relative;
}

.submenu {
    position: absolute;

    display: none;
    width: 100%;
    padding: 0;

    text-align: right;
    text-align: center;

    list-style: none;
    background-color: var(--light-color);
    box-shadow: 1px 1px 2px -1px rgb(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
    .submenu {
        position: relative;
    
        display: block;
    
        font-size: 0.85rem;
        text-align: right;
    
        box-shadow: none;
    }
}

.dropdown:hover .submenu {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--white-color);

    background-color: var(--primary-color);
}

.progress-bar {
    z-index: 2;

    width: 0%;
    height: 2px;

    background-color: var(--primary-color);
}

.burger-icon {
    z-index: 2;

    display: none;
}

@media (max-width: 992px) {
    .burger-icon {
        position: absolute;
        top: 20px;
        right: 20px;

        display: block;
    }
}

.burger-line {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;

    background-color: var(--secondary-color);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#burger {
    display: none;
}

#burger:checked ~ .menu {
    transform: none;
}

#burger:checked ~ .menu .dropbtn:hover {
    color: var(--white-color) !important;

    background-color: var(--primary-color) !important;
}

#burger:checked ~ .menu .dropdown:hover .dropbtn {
    color: var(--dark-color);

    background-color: var(--light-color);
}

#burger:checked ~ .burger-icon .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

#burger:checked ~ .burger-icon .burger-line:nth-child(2) {
    transform: rotate(0deg) scale(0.2, 0.2);
}

#burger:checked ~ .burger-icon .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.menu-shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background-color: rgba(0,0,0,.4);
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.55s ease;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    border-radius: 5px;

    background-color: var(--light-color);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 1;

    transition: opacity 0.55s ease;
}

.popup-close {
    padding: 10px;
    border-radius: 5px;

    color: var(--white-color);

    background-color: var(--primary-color);
    cursor: pointer;
}

/* Other elements */

.details-link {
    display: inline-block;
    padding: 12px 36px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
}

.details-link:hover {
    opacity: 0.8;
}

.video {
    position: relative;

    margin: 0 auto -200px;
    padding-bottom: 56.25%;

    filter: var(--drop-shadow);
}

@media (max-width: 720px) {
    .video {
        padding-bottom: 75%;
    }
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.card {
    display: block;
    height: 100%;
    padding: 24px;
    border-radius: 5px;

    color: var(--dark-color);
    text-decoration: none;
}

.card-title {
    margin-bottom: 4px;

    color: var(--primary-color);
}

.card:hover {
    color: var(--white-color);

    background-color: var(--primary-color);
}

.card:hover .card-title {
    color: var(--white-color);
}

.card-number {
    margin: 0 0 40px 0;

    font-weight: normal;
    font-size: 3rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1;
}

.section-img {
    border-radius: 3%;

    filter: var(--drop-shadow);
}

@media (max-width: 720px) {
    .section-img {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.section-subtitle {
    margin: 0 0 20px 0;
    padding: 4px 8px;
    border-radius: 5px;
}

.contact-block {
    align-items: center;
    margin-bottom: 60px;
    padding: 40px 50px;
    border-radius: 5px;
}

.email-form {
    display: flex;
}

.email-label {
    display: inline-block;
}

.email-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;

    color: var(--dark-color);
    font-size: inherit;
    font-family: var(--body-copy-font);
}

.email-input::placeholder {
    color: #000;

    opacity: 0.2;
}

.email-input-alert::placeholder {
    color: red;

    opacity: 0.7;
    text-transform: uppercase;
}

.send-button {
    position: relative;

    display: block;
    flex: 0 0 60px;
    height: 50px;
    padding: 0;
    border: none;

    cursor: pointer;
}

.send-button:hover {
    opacity: 0.8;
}

.send-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("images/send.svg");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
}

/* Text styles */

.title-1 {
    font-weight: normal;
    font-size: 3.25rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-2 {
    font-weight: normal;
    font-size: 2.75rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-3 {
    font-weight: normal;
    font-size: 1.5rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.text-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

@media (max-width: 720px) {
    .text-center-md {
        text-align: center;
    }
}

.fz-smaller {
    font-size: smaller;
}

/* Ð¡olors */

.bg-light {
    background-color: var(--light-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-medium-dark {
    background-color: var(--medium-dark-color);
}

.bg-light-dark {
    background-color: var(--light-dark-color);
}

.color-primary {
    color: var(--primary-color);
}

.color-white {
    color: var(--white-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.bg-white {
    background-color: var(--white-color);
}

.copyright-link-color {
    color: var(--blue-color);
}

/* Other utility classess */

.mb-8 {
    margin-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}

@media (max-width: 720px) {
    .mb-md-30 {
        margin-bottom: 30px;
    }
}

.mb-60 {
    margin-bottom: 60px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.order {
    order: 1;
}

.ai-center {
    align-items: center;
}