/* * {
    border: 1px dashed black;
} */

/* 1. Structure */
.center-container {
    position: relative;
    max-width: 1110px;
    padding: 100px 0;
    margin: 0 auto;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-column {
    box-sizing: border-box;
    width: 50%;
    padding-right: 15px;
}

.right-column {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 200px;
}

.card {
    display: block;
    box-sizing: border-box;
    width: 32%;
    padding: 24px;
}

.card:first-child {
    padding: 0;
}

.card:nth-child(-n+3) {
    margin-bottom: 20px;
}

.card:nth-child(n+2):hover {
    background: #fe8a02;
}

.card:nth-child(n+2):hover * {
    color: #fff;
}

.back-img {
    position: relative;
}

.back-img::before {
    content: "";
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

.main-img {
    display: block;
    position: relative;
    height: 525px;
    margin: 0 0 0 auto;
    top: 55px;
    right: -270px;
}

.header-container {
    position: relative;
    max-width: 1110px;
    padding: 0 0 100px 0;
    margin: 0 auto;
}

/* 2. Skin */
body {
    margin: 0;
}

.section-img {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.no-border {
    border: none;
}

.no-mb {
    margin-bottom: 0;
}

.no-mt {
    margin-top: 0;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-60 {
    margin-top: 60px;
}

/* 2.1 Ð¡olors */
.text-black {
    color: #2a2626;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: #fe8a02;
}

.text-secondary {
    color: #908d8b;
}

.link-blue {
    color: #1085c5;
}

.back-primary {
    background: #fe8a02;
}

.back-dark {
    background: #42413c;
}

.back-light {
    background: #f5f4f0;
}

.back-brown {
    background: #b09a81;
}

.back-white {
    background: #fff;
}

/* 2.2 Texts */
h1 {
    font-size: 72px;
    margin: 0;
    position: absolute;
    top: 100px;
    z-index: 1;
}

h2 {
    font-size: 60px;
    margin: 0;
}

h3 {
    font-size: 34px;
}

.font-neucha {
    font-family: 'Neucha', cursive;
    font-weight: normal;
    line-height: 1.2em;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.text-bold {
    font-weight: bold;
}

.text-60 {
    font-size: 60px;
}

.text-52 {
    font-size: 52px;
}

.text-36 {
    font-size: 36px;
}

.text-34 {
    font-size: 34px;
}

.text-18 {
    font-size: 18px;
}

.text-14 {
    font-size: 14px;
}

.text-12 {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.no-text-deco {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

/* 3. Other elements */
.details-link {
    display: block;
    width: max-content;
    padding: 12px 24px;
}

.video {
    display: block;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    margin: 30px auto -200px;
}

.card-number {
    font-size: 64px;
    line-height: 1em;
    margin-bottom: 40px;
}

.how-expr {
    padding: 4px 0 4px 8px;
    margin: 100px 0 20px;
}

.contact {
    align-items: center;
    padding: 40px 50px;
}

form {
    display: flex;
}

label {
    flex: 1;
}

input {
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    width: 100%;
}

button {
    position: relative;
    height: 50px;
    width: 70px;
    margin: auto 0 0 auto;
}

button::before {
    content: "";
    background-image: url("images/send.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
