:root {
    --dark-color: #2a2626;
    --white-color: #fff;
    --primary-color: #fe8a02;
    --medium-dark-color: #42413c;
    --secondary-color: #908d8b;
    --light-color: #f5f4f0;
    --light-dark-color: #b09a81;
    --blue-color: #1085c5;
    --body-copy-font: 'Open Sans', sans-serif;
    --titles-font: 'Neucha', cursive;
    --drop-shadow: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

    font-size: 1rem;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 1.3rem;
    }
}

body {
    margin: 0;

    color: var(--dark-color);
    font-weight: normal;
    font-family: var(--body-copy-font);
    font-style: normal;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    display: block;
}

/* Common layout structure elements */

.center-container {
    position: relative;
    z-index: 1;

    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}

@media (max-width: 720px) {
    .row {
        display: block;
    }
}

.col {
    flex: 1 1 0;
    padding: 0 15px;
}

.columns {
    columns: 2 200px;
    column-gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Background elements */

.bg-img {
    position: relative;
}

.bg-img::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.1;

    content: "";
}

@media screen and (min-width: 1024px) {
    .bg-img::before {
        background-attachment: fixed;
    }
}

/* Other elements */

.header-title {
    margin-bottom: 170px;
    padding-top: 20px;
}

.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -1;

    height: 525px;
}

.details-link {
    display: inline-block;
    padding: 12px 36px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
}

.details-link:hover {
    opacity: 0.8;
}

.video {
    position: relative;

    margin: 0 auto -200px;
    padding-bottom: 56.25%;

    filter: var(--drop-shadow);
}

@media (max-width: 768px) {
    .video {
        padding-bottom: 75%;
    }
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.card {
    display: block;
    height: 100%;
    padding: 24px;
    border-radius: 5px;

    color: var(--dark-color);
    text-decoration: none;
}

.card-title {
    margin-bottom: 4px;

    color: var(--primary-color);
}

.card:hover {
    color: var(--white-color);

    background-color: var(--primary-color);
}

.card:hover .card-title {
    color: var(--white-color);
}

.card-number {
    margin: 0 0 40px 0;

    font-weight: normal;
    font-size: 3rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1;
}

.section-img {
    width: 100%;
    height: auto;
    border-radius: 3%;

    filter: var(--drop-shadow);
}

@media (max-width: 720px) {
    .section-img {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.section-subtitle {
    margin: 0 0 20px 0;
    padding: 4px 8px;
    border-radius: 5px;
}

.contact-block {
    align-items: center;
    margin-bottom: 60px;
    padding: 40px 50px;
}

.email-form {
    display: flex;
}

.email-label {
    display: inline-block;
}

.email-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;

    color: var(--dark-color);
    font-size: inherit;
    font-family: var(--body-copy-font);
}

.email-input::placeholder {
    color: #000;

    opacity: 0.2;
}

.send-button {
    position: relative;

    display: block;
    flex: 0 0 60px;
    height: 50px;
    padding: 0;
    border: none;

    cursor: pointer;
}

.send-button:hover {
    opacity: 0.8;
}

.send-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("images/send.svg");
    background-repeat: no-repeat;
    background-position: center;

    content: "";
}

/* Text styles */

.title-1 {
    font-weight: normal;
    font-size: 3.25rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-2 {
    font-weight: normal;
    font-size: 2.75rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-3 {
    font-weight: normal;
    font-size: 1.5rem;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.text-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

@media (max-width: 720px) {
    .text-center-md {
        text-align: center;
    }
}

.fz-smaller {
    font-size: smaller;
}

/* Ð¡olors */

.bg-light {
    background-color: var(--light-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-medium-dark {
    background-color: var(--medium-dark-color);
}

.bg-light-dark {
    background-color: var(--light-dark-color);
}

.color-primary {
    color: var(--primary-color);
}

.color-white {
    color: var(--white-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.bg-white {
    background-color: var(--white-color);
}

.copyright-link-color {
    color: var(--blue-color);
}

/* Other utility classess */

.mb-8 {
    margin-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}

@media (max-width: 720px) {
    .mb-md-30 {
        margin-bottom: 30px;
    }
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-100 {
    padding-top: 100px;
}

.order {
    order: 1;
}

.ai-center {
    align-items: center;
}




.container a {
    color: var(--dark-color);
    font-size: 1.5em;
    text-decoration: none;

    opacity: 1;

    transition: 200ms;
  }

.container a:hover {
    opacity:0.5;
  }

.container ul {
    padding: 0;

    list-style-type: none;
  }  
  
.container {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2; 

    display: flex;  
    height: 60px;

    background-color: var(--light-color); 
    box-shadow: 0 0 2px var(--secondary-color);
    opacity: 0.96;
  } 
  
.container #menuToggle {
    position: relative;
    top: 22px;
    z-index: 1;

    display: flex;
    flex-direction: column;

    -webkit-user-select: none;
    user-select: none;
  }
  
.container #menuToggle input {
    position: absolute;
    z-index: 2;

    display: flex;
    width: 40px;
    height: 32px;

    cursor: pointer;
    opacity: 0;
  }
  
.container #menuToggle span {
    position: relative;
    z-index: 1;

    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 3px;

    background: var(--secondary-color);
    transform-origin: 5px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
.container #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
.container #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
.container #menuToggle input:checked ~ span {
    background: var(--secondary-color);
    transform: rotate(45deg) translate(-3px, -2px);
    opacity: 1;
  }

.container #menuToggle input:checked ~ span:nth-last-child(3) {
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }
  
.container #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
.container #menu {
    position: absolute;

    width: 180px;
    height: 400px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background-color: var(--light-color);
    box-shadow: 0 0 2px var(--secondary-color);
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
.container #menu li {
    padding: 10px 0;

    transition-delay: 2s;
  }
  
.container #menuToggle input:checked ~ ul {
    transform: none;
  }
