:root {
    --black-color: #2a2626;
    --white-color: #fff;
    --primary-color: #fe8a02;
    --primary-dark-color: #42413c;
    --secondary-color: #908d8b;
    --light-color: #f5f4f0;
    --dark-color: #b09a81;
    --blue-color: #1085c5;
    --titles-font: 'Neucha', cursive;
    --shadow: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--black-color);
    font-weight: normal;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

small {
    font-size: inherit;
}

img {
    display: block;
}

/* Common layout structure elements */

.center-container {
    position: relative;
    z-index: 1;
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 -15px;
}

.column {
    flex: 1 1 0;
    padding: 0 15px;
}

/* Background elements */

.bg-img {
    position: relative;
}

.bg-img::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    content: "";
}

/* Other elements */

.header-title {
    margin-bottom: 170px;
    padding-top: 20px;
}

.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -1;
    height: 525px;
}

.details-link {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
}

.video {
    display: block;
    margin: 0 auto -200px;
    border: none;
    filter: var(--shadow);
}

.card {
    display: block;
    height: 100%;
    padding: 24px;
    color: var(--black-color);
    text-decoration: none;
}

.card-title {
    margin-bottom: 4px;
    color: var(--primary-color);
}

.card:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.card:hover .card-title {
    color: var(--white-color);
}

.card-number {
    margin: 0 0 40px 0;
    font-weight: normal;
    font-size: 64px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1;
}

.section-img {
    width: 100%;
    height: auto;
    filter: var(--shadow);
}

.section-subtitle {
    margin: 0 0 20px 0;
    padding: 4px 8px;
    font-size: 14px;
}

.contact-block {
    align-items: center;
    margin-bottom: 60px;
    padding: 40px 50px;
}

.email-form {
    display: flex;
}

.email-label {
    flex: 1 0 auto;
}

.email-input {
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding: 15px;
    border: none;
}

.send-button {
    position: relative;
    width: 70px;
    height: 50px;
    margin: auto 0 0 auto;
    border: none;
}

.send-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("images/send.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

/* Text styles */

.title-1 {
    font-weight: normal;
    font-size: 72px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-2 {
    font-weight: normal;
    font-size: 60px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-3 {
    font-weight: normal;
    font-size: 34px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.title-4 {
    font-weight: normal;
    font-size: 24px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.text-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.nav-title {
    font-weight: normal;
    font-size: 52px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.footer-title {
    font-weight: normal;
    font-size: 36px;
    font-family: var(--titles-font);
    font-style: normal;
    line-height: 1.2;
}

.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-18 {
    font-size: 18px;
}

/* Ð¡olors */

.bg-light {
    background-color: var(--light-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-primary-dark {
    background-color: var(--primary-dark-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.color-primary {
    color: var(--primary-color);
}

.color-white {
    color: var(--white-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.bg-white {
    background-color: var(--white-color);
}

.copyright-link-color {
    color: var(--blue-color);
}

/* Other utility classess */

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.no-mt {
    margin-top: 0;
}

.pt-100 {
    padding-top: 100px;
}
